.padding {
  padding-bottom: 2rem;
}

.sambut {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.text {
  text-align: justify;
}

.sambut hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

/* 3 Kolom */
.fa-code {
  color: #e54d26;
}

.fa-bold {
  color: #563d7c;
}

.fa-css3 {
  color: #2163af;
}

.fa-bold,
.fa-code,
.fa-css3 {
  font-size: 4em;
  margin: 1rem;
}

/* Sosial Media */
.sosial a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-github {
  color: black;
}

.fa-instagram {
  color: #517fa4;
}

.fa-facebook:hover,
.fa-github:hover,
.fa-instagram:hover,
.fa-twitter:hover {
  color: #d5d5d5;
}

/* Footer */
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

footer .col-12 h5 {
  display: flex;
  justify-content: center;
}

/* Login */
.auth {
  padding: 10px;
  margin-top: 3.5rem;
}

.auth .card {
  box-shadow: -8px 12px 18px 0 rgb(25, 42, 70, 0.13);
  margin-bottom: 2.2rem;
  border-radius: 2px;
  padding: 20px;
}

.auth h3 {
  text-align: center;
  font-weight: 600;
  color: #3b82f6;
}

/* Media */
@media (max-width: 992px) {
  .sosial a {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .sosial a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}

@media (max-width: 576px) {
  .sosial a {
    font-size: 2em;
    padding: 0.7rem;
  }
}

/* Extra Edit */
.no-extra {
  list-style: none;
}
