{% extends "layout.html" %}
{% block content %}
<!-- Bagian Awal -->
<div class="auth my-4">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="mb-3">Login</h3>
                        <form method="POST">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" id="username" aria-describedby="username_help">
                                <div id="username_help" class="form-text">You are free to make your username</div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="password" aria-describedby="password_help">
                                <div id="password_help" class="form-text">We'll never share your password with anyone else.</div>
                            </div>
                            <div class="d-grid gap-2 my-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            <p>Want to be a new member? <a href="/register/">Create Account</a></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}